<!DOCTYPE html>
<html>
  <style>
    h1 {
      font-weight: 700;
      font-size: 100px;
      line-height: 0.5;
      text-decoration: dotted;
    }
    ul {
        height: 5%;
        width: 100%;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        margin: 0;
        padding: 0;
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #111;
    }
  </style>
  <head>
    <title>GPT APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href = '/'>Home</a></li>
      <li><a href = "/about">About</a></li>
      <li><a href = "/team">Team</a></li>
      <li><a href = "/gpt">GPT</a></li>
    </ul>
    <h1>GPT</h1>
    <h1 style = "text-indent: 10%;">APP</h1>
  </body>
</html>
